
body {
  font-family: 'Poiret One', cursive;;
}

.title {
  font-size: 60px;
  font-weight: bold;
}

.img-logo {
  margin-top: 20px;
  width: 150px;
  height: 150px;
}

hr {
  border-top: 4px solid #eee;
  margin-top: 40px;
  margin-bottom: 0px;
}

.img-main {
  margin-top: 70px;
}

.featured {
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
}

.img-responsive {
  border-radius: 25px;
}

.img-featured {
  margin-top: 20px;
}
