body {
  font-family: 'Poiret One', Helvetica, cursive;
}


@media only screen and (max-width:500px) {
  
  * {
      margin: 0 auto 0 auto;
      text-align: center;
  }
}


.title1 {
  font-family: 'Poiret One', Helvetica, cursive;
  font: bold 100px 
  color: #424242;
}


.title2 {
  font-family: 'Poiret One', Helvetica, cursive;
  font: bold 20px 
  color: #424242;
}


.title3 {
  font-family: 'Poiret One', Helvetica, cursive;
  font: bold 10px 
  color: #424242;
}


.img-logo {
  margin: 20px 0 0 0;
  width: 150px;
  height: 150px;
}


.img-logo:hover {
  opacity: 0.5;
}


hr {
  border-top: 4px solid #eee;
  margin: 20px 0 20px 0;
}


.img-main {
  margin: 40px auto 0 auto;
  width: 1140px;
  height: 400px;
  display: block;
}

.img-main:hover {
  opacity: 0.5;
}



.featured {
  font-family: 'Poiret One', Helvetica, cursive;
  font: bold 36px 
  margin-top: 50px;
}


.img-responsive {
  border-radius: 15px;
}


.img-featured {
  margin: 20px auto 0 auto;
  width: 400px;
  height: 300px;
  display: block;
}


.img-featured:hover {
  opacity: 0.5;
}


.modal-title {
  font-family: 'Poiret One', Helvetica, cursive;
  font: bold 30px 
}


.img-modal {
  margin-top: 20px;
  width: 400px;
  height: 300px;
}


h4 {
  font-family: 'Poiret One', Helvetica, cursive;
  font: 24px 
}


h2 {
  padding: 0 0 0 1px;
}


h3 {
  margin: 20px 0 50px 0;
  font: bold 30px 
}


.col-md-4 {
    padding: 20px 15px 20px 15px;
    background: white;
    border-radius: 15px;
}
